<div class="flight_preview">
    <div class="row">
        <span class="col-md-3 planet"></span>
        <span class="col-md-6 flight_info">
            <span class="row">
                <span class="col-md-12">
                    <span class="row time_details">
                        <span class="col-md-6 label label_start">Departure time:</span>
                        <span class="col-md-6 label label_destination">Arrival time:</span>
                        <span class="col-md-3 time_start"><%= flight.time_start %> UST</span>
                        <span class="col-md-2 arrow">&#8594;&#160;&#160;&#8594;&#160;&#160;&#8594;</span>
                        <span class="col-md-2 duration">1 UST</span>
                        <span class="col-md-2 arrow">&#8594;&#160;&#160;&#8594;&#160;&#160;&#8594;</span>
                        <span class="col-md-3 time_end"><%= flight.time_end %> UST</span>
                    </span>
                </span>
                <span class="col-md-12">
                    <span class="row date_details">
                        <span class="col-md-6 label label_start">Departure date:</span>
                        <span class="col-md-6 label label_destination">Arrival date:</span>
                        <span class="col-md-6 date_start"><%= flight.date_start.day %>/<%= flight.date_start.month %>/<%= flight.date_start.year %></span>
                        <span class="col-md-6 date_end"><%= flight.date_end.day %>/<%= flight.date_end.month %>/<%= flight.date_end.year %></span>
                    </span>
                </span>
                <span class="col-md-12">
                    <span class="row places_details">
                        <span class="col-md-6 label label_start">Departure point:</span>
                        <span class="col-md-6 label label_destination">Arrival point:</span>
                        <span class="col-md-6 place_start"><%= flight.start_planet %> - <%= flight.start_starport %></span>
                        <span class="col-md-6 place_end"><%= flight.destination_planet %> - <%= flight.destination_starport %></span>
                    </span>
                </span>
                <span class="col-md-12">
                    <span class="flight_types">
                        <% if (('lux' in flight) && ('standard' in flight)) { %>
                            <div class="row">
                                <span class="col-md-12 lux">
                                    <span class="row">
                                        <span class="col-md-3 label_type">Lux</span>
                                        <span class="col-md-3 label_seats">Vacant seats: <%= flight.lux.vacant %></span>
                                        <span class="col-md-6"><button class="btn btn-primary btn-block">Buy</button></span>
                                    </span>
                                </span>
                                <span class="col-md-12 standard">
                                    <span class="row">
                                        <span class="col-md-3 label_type">Standard</span>
                                        <span class="col-md-3 label_seats">Vacant seats: <%= flight.standard.vacant %></span>
                                        <span class="col-md-6"><button class="btn btn-primary btn-block">Buy</button></span>
                                    </span>
                                </span>
                            </div>
                        <% } else if (!('lux' in flight)) { %>
                            <div class="row">
                                <span class="col-md-12 standard">
                                    <span class="row">
                                        <span class="col-md-3 label_type">Standard</span>
                                        <span class="col-md-3 label_seats">Vacant seats: <%= flight.standard.vacant %></span>
                                        <span class="col-md-6"><button class="btn btn-primary btn-block">Buy</button></span>
                                    </span>
                                </span>
                            </div>
                        <% } else if (!('standard' in flight)) { %>
                            <div class="row">
                                <span class="col-md-12 lux">
                                    <span class="row">
                                        <span class="col-md-3 label_type">Lux</span>
                                        <span class="col-md-3 label_seats">Vacant seats: <%= flight.lux.vacant %></span>
                                        <span class="col-md-6"><button class="btn btn-primary btn-block">Buy</button></span>
                                    </span>
                                </span>
                            </div>
                        <% } %>
                    <span>
                </span>
            </span>
        </span>
        <span class="col-md-3 ship"></span>
    </div>
</div>